# package directories
node_modules

# Terraform directories
.terraform

# Package-lock
package-lock.json

# Lambdas zip
**.js.zip

# Terraform state
terraform.tfstate.backup

# Tests coverage
coverage

# Vscode configs
.vscode